- name: Clean up
  block:
  - name: Register all UIPlugins name 
    shell: oc get UIPlugin -o json | jq .items[].metadata.name
    register: uiplugin_names

  - name: Delete all the UIPlugins
    shell: oc delete UIPlugin -o name {{ item }}
    loop: "{{ uiplugin_names.stdout.split() }}"

  - name: Delete Thanoquerier
    kubernetes.core.k8s:
      state: absent
      api_version: monitoring.rhobs/v1alpha1
      namespace: "{{ coo_e2e_namespace }}"
      kind: ThanosQuerier
      name: example-thanos

  - name: Delete MonitoringStack
    kubernetes.core.k8s:
      state: absent
      api_version: monitoring.rhobs/v1alpha1
      namespace: "{{ coo_e2e_namespace }}"
      kind: MonitoringStack
      name: multi-ns

  - name: Check if ClusterLogging resource exists
    k8s_info:
      kind: ClusterLogging
      namespace: openshift-logging
    register: cl_resource

  - name: Delete ClusterLogging instance
    kubernetes.core.k8s:
      state: absent
      api_version: "logging.openshift.io/v1"
      namespace: openshift-logging
      kind: ClusterLogging
      name: instance
    when: cl_resource.resources | length > 0

  - name: Delete ServiceAccount
    kubernetes.core.k8s:
      state: absent
      api_version: v1
      namespace: openshift-logging
      kind: ServiceAccount
      name: logcollector

  - name: Delete collect-application-logs clusterrole
    kubernetes.core.k8s:
      state: absent
      api_version: rbac.authorization.k8s.io/v1
      name: collect-application-logs
      kind: ClusterRole
      
  - name: Delete collect-infrastructure-logs clusterrole
    kubernetes.core.k8s:
      state: absent
      api_version: rbac.authorization.k8s.io/v1
      name: collect-infrastructure-logs
      kind: ClusterRole

  - name: Delete collect-audit-logs clusterrole
    kubernetes.core.k8s:
      state: absent
      api_version: rbac.authorization.k8s.io/v1
      name: collect-audit-logs
      kind: ClusterRole

  - name: Check if ClusterLogForwarder resource exists
    k8s_info:
      kind: ClusterLogForwarder
      namespace: openshift-logging
    register: clf_resource

  - name: Delete ClusterLogForwarder instance
    kubernetes.core.k8s:
      state: absent
      api_version: "observability.openshift.io/v1"
      namespace: openshift-logging
      kind: ClusterLogForwarder
      name: collector
    when: clf_resource.resources | length > 0

  - name: Delete LokiStack instance
    kubernetes.core.k8s:
      state: absent
      api_version: loki.grafana.com/v1
      namespace: openshift-logging
      kind: LokiStack
      name: lokistack-coo

  - name: Delete the namespace chainsaw_test_namespace
    kubernetes.core.k8s:
      state: absent
      kind: Namespace
      name: "{{ chainsaw_test_namespace }}"

  - name: Check if the chainsaw_test_namespace gets deleted
    shell: oc get namespace --no-headers | grep "{{ chainsaw_test_namespace }}" | wc -l
    register: chainsaw_test_namespace_count
    until: chainsaw_test_namespace_count.stdout|int == 0
    retries: 15
    delay: 30

  - name: Delete Test data deployment
    kubernetes.core.k8s:
      state: absent
      namespace: default
      kind: Deployment 
      name: bad-deployment

  - name: Delete the namespace coo_e2e_namespace
    kubernetes.core.k8s:
      state: absent
      kind: Namespace
      name: "{{ coo_e2e_namespace }}"

  - name: Check if the coo_e2e_namespace gets deleted
    shell: oc get namespace --no-headers | grep "{{ coo_e2e_namespace }}" | wc -l
    register: coo_e2e_namespace_count
    until: coo_e2e_namespace_count.stdout|int == 0
    retries: 15
    delay: 30

  - name: Delete the workspace
    file:
      path: "{{ coo_work_dir }}"
      state: "absent"

  - name: Get the name of cluster service version
    shell: oc get clusterserviceversion -n openshift-cluster-observability-operator | awk '{ if ($1 ~ /cluster-observability-operator/) print $1 }'
    register: coo_csv

  - name: Get the name of subscription
    shell: oc get subscription -n openshift-cluster-observability-operator | awk '{ if ($1 ~ /cluster-observability/) print $1 }'
    register: coo_subscription

  - name: Get the name of operator group
    shell: oc get operatorgroup -n openshift-cluster-observability-operator | awk '{ if ($1 ~ /og/) print $1 }'
    register: coo_operator_group

  - name: Delete the subscription if exists
    kubernetes.core.k8s:
      state: absent
      api_version: operators.coreos.com/v1alpha1
      kind: Subscription
      name: "{{ coo_subscription.stdout }}"
      namespace: openshift-cluster-observability-operator
    when: coo_subscription.stdout|length > 0

  - name: Delete the operator group if exists
    kubernetes.core.k8s:
      state: absent
      api_version: operators.coreos.com/v1
      kind: OperatorGroup
      name: "{{ coo_operator_group.stdout }}"
      namespace: openshift-cluster-observability-operator
    when: coo_operator_group.stdout|length > 0

  - name: Delete the cluster service version if exists
    kubernetes.core.k8s:
      state: absent
      api_version: operators.coreos.com/v1alpha1
      kind: ClusterServiceVersion
      name: "{{ coo_csv.stdout }}"
      namespace: openshift-cluster-observability-operator
    when: coo_csv.stdout|length > 0

  - name: Check if all the pods has been deleted
    shell: oc get pods -n openshift-cluster-observability-operator --no-headers | wc -l
    register: coo_pods
    until: coo_pods.stdout|int == 0
    retries: 15
    delay: 20

  - name: Delete the namespace if exists
    kubernetes.core.k8s:
      state: absent
      kind: Namespace
      name: openshift-cluster-observability-operator

  - name: Check if the namespace gets deleted
    shell: oc get namespace --no-headers | grep openshift-cluster-observability-operator | wc -l
    register: coo_namespace_count
    until: coo_namespace_count.stdout|int == 0
    retries: 15
    delay: 30
    
  - name: Delete the catalog source if exists
    kubernetes.core.k8s:
      state: absent
      api_version: operators.coreos.com/v1alpha1
      kind: CatalogSource
      name: coo
      namespace: openshift-marketplace

  - name: Check if the catalog source gets deleted
    shell: oc get catsrc --no-headers | grep coo | wc -l
    register: coo_catsrc_count
    until: coo_catsrc_count.stdout|int == 0
    retries: 15
    delay: 30

  - name: Delete ImageDigestMirrorSet if present
    kubernetes.core.k8s:
      state: absent
      kind: ImageDigestMirrorSet
      api_version: config.openshift.io/v1
      name: idms-coo

  - name: Check if IDMS gets deleted
    shell: oc get idms --no-headers | grep coo | wc -l
    register: coo_idms
    until: coo_idms.stdout|int == 0
    retries: 15
    delay: 30

  - name: Delete ImageContentSourcePolicy if present
    kubernetes.core.k8s:
      state: absent
      kind: ImageContentSourcePolicy
      api_version: operator.openshift.io/v1alpha1
      name: brew-registry

  - name: Check if ICSP gets deleted
    shell: oc get ImageContentSourcePolicy --no-headers | grep brew-registry | wc -l
    register: coo_icsp
    until: coo_icsp.stdout|int == 0
    retries: 15
    delay: 30
    
  when: coo_cleanup
  
