---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: nfd-catalogsource
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  publisher: redhat
  displayName: NFD Operators CatalogSource
  image: "{{ nfd_catalogsource }}"


