---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: nfd-catalogsource
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: "{{ nfd_catalogsource }}"
  displayName: Operators CatalogSource
  publisher: Red Hat
  updateStrategy:
    registryPoll:
      interval: 10m


