SERVER_HOSTNAME: {{ quay_registry_hostname }}
PREFERRED_URL_SCHEME: https
FEATURE_UI_V2: true
FEATURE_UI_V2_REPO_SETTINGS: true
FEATURE_AUTO_PRUNE: true
ROBOTS_DISALLOW: false
BROWSER_API_CALLS_XHR_ONLY: false
SUPER_USERS:
  - quay
FEATURE_USER_INITIALIZE: true
FEATURE_QUOTA_MANAGEMENT: true
FEATURE_PROXY_CACHE: true
PERMANENTLY_DELETE_TAGS: true
RESET_CHILD_MANIFEST_EXPIRATION: true
FEATURE_REPO_MIRROR: true
