apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cephrbd-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: ocs-storagecluster-ceph-rbd

#pod.yaml
---
apiVersion: v1
kind: Pod
metadata:
  name: cephrbd-demo-pod
  namespace: default
spec:
  containers:
    - name: web-server
      image: {{ test_pod_image }}
      volumeMounts:
        - name: mypvc
          mountPath: /var/lib/www/html
  volumes:
    - name: mypvc
      persistentVolumeClaim:
        claimName: cephrbd-pvc
        readOnly: false
