apiVersion: agent-install.openshift.io/v1beta1
kind: AgentServiceConfig
metadata:
 name: agent
spec:
  mirrorRegistryRef:
    name: mirror-config
  databaseStorage:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: "{{ db_volume_size }}"
  filesystemStorage:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: "{{ fs_volume_size }}"
  osImages:
    - openshiftVersion: "{{ ocp_release_min.stdout }}"
      version: "{{ ocp_release_version.stdout }}"
      url: "{{ iso_url_x86 }}"
      rootFSUrl: "{{ root_fs_url_x86 }}"
      cpuArchitecture: "{{ arch_x86 }}"
    - openshiftVersion: "{{ ocp_release_min.stdout }}"
      version: "{{ ocp_release_version.stdout }}"
      url: "{{ iso_url_ppc }}"
      rootFSUrl: "{{ root_fs_url_ppc }}"
      cpuArchitecture: "{{ arch_ppc }}"
