apiVersion: hypershift.openshift.io/v1beta1
kind: NodePool
metadata:
  name: {{ hosted_cluster_name }}-x86
  namespace: {{ cluster_namespace }}
spec:
  arch: amd64
  clusterName: {{ hosted_cluster_name }}
  management:
    autoRepair: false
    upgradeType: InPlace
  nodeDrainTimeout: 0s
  nodeVolumeDetachTimeout: 0s
  platform:
    agent:
      agentLabelSelector:
        matchLabels:
          inventory.agent-install.openshift.io/cpu-architecture: {{ arch_x86 }}
    type: Agent
  release:
    image: {{ ocp_release_image }}
  replicas: 0
