apiVersion: v1
kind: PersistentVolume
metadata:
  name: task-pv-volume
  namespace: default
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: {{ hostpath_storage_size }}
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: {{ hostpath_pv_storage_path }}
