---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: loki
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  publisher: redhat
  displayName: Red Hat Operators for loki
  image: "{{ loki_clf_cs }}"

---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: cluster-logging
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  publisher: redhat
  displayName: Red Hat Operators for Cluster Logging
  image: "{{ clusterlogging_clf_cs }}"

